<div class="todos">
    <!--(todo.completed ? 'done' : '')  if its complete, we gonna parse a class of done, else an empty string -->
    <form (ngSubmit)="addTodo()">
        <input 
        type="text"
        name="InputTodo"
        placeholder="Enter a New Todo"
        class="todo-input"
        [(ngModel)]="inputTodo"
        />

        <input type="submit" value="Add Todo" class="Add-TodoButton" />
    </form>
    <div  *ngFor="let todo of todos; let i = index;" class="todo {{ (todo.completed ? 'done' : '')  }}">
        <div class="id">{{i}}</div>
        <div class="content" (click)="toggleDone(i)">{{todo.content}}</div>
        <button class="delete" (click)="deleteTodo(i - 1)">Delete</button>
    </div>
</div>
 